body {
  background-image: linear-gradient(to left, lightgray, gray, dimgray);
}
hr {
  border-color: black;
}
footer {
  color: black;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
table {
  margin: 0px auto;
  text-align: center;
  border-color: white;
}
footer {
  text-align: center;
}
a:link {
  color: snow;
}
a:visited {
  color: snow;
}
